In [1]:
import pandas as pd
import numpy as np

In [4]:
f1 = pd.read_csv('data/stateNames1.csv')
f2 = pd.read_csv('data/stateNames2.csv')
frames = [f1,f2]
allStates = pd.concat(frames)

In [14]:
presAppr = pd.read_csv('data/presApproval.csv')

In [17]:
pd.unique(presAppr['President'])

array(['Barack Obama', 'George W. Bush', 'William J. Clinton',
       'George Bush', 'Ronald Reagan', 'Jimmy Carter', 'Gerald R. Ford',
       'Richard Nixon', 'Lyndon B. Johnson', 'John F. Kennedy',
       'Dwight D. Eisenhower', 'Harry S. Truman', 'Franklin D. Roosevelt'], dtype=object)

In [19]:
pres =  {'Name' : ['Barack','George','Bill','George','Ronald','Jimmy','Gerald','Richard','Lyndon','John','Dwight','Harry','Franklin'],
         'StartYear' : [2009,2001,1993,1989,1981,1977,1974,1969,1963,1961,1953,1945,1933],
         'EndYear' : [2015,2009,2001,1993,1989,1981,1977,1974,1969,1963,1961,1953,1945]
}

fNames = pd.DataFrame(pres)

In [21]:
fNames

    EndYear      Name  StartYear
0      2015    Barack       2009
1      2009    George       2001
2      2001      Bill       1993
3      1993    George       1989
4      1989    Ronald       1981
5      1981     Jimmy       1977
6      1977    Gerald       1974
7      1974   Richard       1969
8      1969    Lyndon       1963
9      1963      John       1961
10     1961    Dwight       1953
11     1953     Harry       1945
12     1945  Franklin       1933